.SearchBar {
  display:flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
.Search-input {
  padding:1rem;
  width:400px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 2px 3px lightsalmon;
}
.Search-button {
  padding:0.8rem;
  width:80px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 2px 3px lightsalmon;
  margin-left: 1rem;
}
.Search-button1 {
  margin-right: 15px;
  padding:0.8rem;
  width:80px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 2px 3px lightsalmon;
  margin-left: 1rem;
}
.my-current-location {
  /* border-radius: 5px; */
  /* padding: 5px; */
  background-color: white;
  border: none;
  color: black;
  font-size: 2rem;
  margin-left: 1rem;
}

.map-container {
  width: 100%;
  height: 700px;
  display:flex;
  align-items: center;
  margin-top: 1rem;
  /* position: relative; */
}

.map-wrapper {
  width: 100%;
  height: 100%;
  /* margin-left: 8rem; */
  /* position: absolute;
  top: 50%; 
  left: 70%; 
  transform: translate(-50%, -50%); */
  border: 1px solid black;
}

.map {
  width: 100%;
  height: 100%;
}

.route-info{
  background-color: white;
  padding: 10px;
  border: 3px dotted red;
  border-radius: 20px;
}

